environment         = "dev"
location            = "eastus2"
resource_group_name = "rg-osb-jira-agent-dev"
prefix              = "osbjira"
jira_instance_url   = "https://your-company.atlassian.net"
jira_project_key    = "ITSM"
azure_ai_project_endpoint = ""
jira_allowed_project_keys = ["ITSM", "OP"]
jira_lead_project_key = "OP"
jira_lead_issue_type_id = "12716"
jira_enable_write_operations = false
jira_transition_ids = {
  start_lead_work                  = "2"
  transition_lead_to_proposal_item = "21"
  generate_new_proposal            = "3"
  send_item_to_purchasing          = "12"
  set_proposal_item_price          = "7"
}
jira_api_email        = ""
jira_api_token        = ""
jira_team_account_ids = {
  Comercial = "712020:e42f7463-adc1-4c4b-ab60-7a1089241d2a"
}
jira_webhook_secret   = "super-secret-random-token-here"

tags = {
  Project     = "OSB-Jira-Agent"
  Environment = "dev"
  ManagedBy   = "Terraform"
}
